.bg-light-orange {
    background-color: #fdece4;
  }
  
  .bg-light-green {
    background-color: #e6f7f3;
  }
  
  .bg-light-yellow {
    background-color: #f4fad1;
  }
  
  .bg-light-blue {
    background-color: #e6f1ff;
  }
  